@import "tailwindcss";

@theme {
  --font-sans: "Figtree", sans-serif;
  --font-cursive: "Single Day", cursive;
}

@layer base {
  :root {
    @apply font-sans bg-neutral-50 dark:bg-neutral-900;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  a {
    @apply hover:underline;
  }
}

@layer components {
  .pics {
    @apply flex flex-wrap gap-4 max-w-5xl mx-auto justify-center;

    figure {
      @apply bg-white shadow-xl p-4 min-w-60 flex flex-col items-stretch gap-y-3;
    }

    img {
      @apply h-96;
    }

    figcaption {
      @apply text-center block font-cursive text-xl italic;
    }
  }
}
